<tr onclick="yourLLC
    && yourLLC.panTo('<%= location.latitude %>,<%= location.longitude %>')">
    <th scope="row"><%= location.formatted_address %></th>
    <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>
</tr>